body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #1A1B1C;
}
header {
    background-color: #1A1B1C;
    display: flex;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 20px;
}

header img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

header a {
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    color : #C6C6C6;
    font-size: 20px;
    font-weight: 700;
}

header a:hover {
    text-decoration: underline;
}

#presentation {
    background-color: #1A1B1C;
}
h1 {
    color: #efefef;
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-weight: 700;
    margin-top: 150px;
    text-align: center;    
}
#presentation > p{
    color: #C6C6C6;
    font-family: 'Playfair Display', sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
#me {
    margin-top: 300px;
    background-color: #423d3d;
    justify-content: center;
}
#me > svg {
    background-color: #1A1B1C;
}
h2{
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color : #C6C6C6;
    font-size: 50px;
    font-weight: 700;
}
#me > .left {
    margin-bottom: 30px;
    display: flex;
    margin-right: 25%;
    margin-left: 15%;
}
#me > .right {
    padding-bottom: 30px;
    display: flex;
    margin-right: 15%;
    margin-left: 25%;
}

#me > .left > div {
    margin-right : 50px;
    color: #efefef;
    border: 5px solid black;
    border-radius: 20px; 
    position: relative;
}
#me > .right > div {
    margin-left : 50px;
    color: #efefef;
    border: 5px solid black;
    border-radius: 20px; 
    position: relative;
}
#me h3 {
    position: absolute;
    top: -52px; 
    left: 15px; 
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    background-color: #423d3d;
    padding: 0 10px; 
    font-weight: bold;
}
#me img {
    border-radius: 10%;
}
#me p {
    font-family: 'Playfair Display', sans-serif;
    color : #e4dfdf;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 400;
}
#school {
    margin-top : 0px;
    background-color: #222425;
    justify-content: center;
}
.categorie {
    margin : auto;
    width: 80%;
    max-width: 1000px;
    border-right: none;
    border-left: none;
    background-color: #222425;
    padding-bottom: 30px;
}
  
.title {
    display: flex;
    align-items: center;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    color : #C6C6C6;
    cursor: pointer;
    font-weight: bold;
    border-bottom: 1px solid rgb(221, 221, 221, 50%);
    border-top: 1px solid rgb(221, 221, 221, 50%);

}
.title > span {
    margin-right: 50px;
}
.arrow-icon {
    transition: all 0.3s ease;
    width: 10px; 
    height: 10px; 
    border-right: 2px solid red; 
    border-bottom: 2px solid red; 
    margin: 20px auto; 
    transform: rotate(-45deg);
  }

.content {
    color : #e4dfdf;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.3s ease;
    padding: 0 15px;
}
.content h3 {
    font-family: 'Montserrat', sans-serif;
}
.content.show {
    max-height: 1000px;
    padding: 15px;
}

.categorie.active .arrow-icon {
    color : red;
    transition: all 0.3s ease;
    transform: rotate(45deg);
}
#technologies, #projets-nsi {
    justify-content: space-around;
    display: flex;
}
li {
    list-style : "- ";
}
#projets-nsi {
    display: flex;
    justify-content: center;
    text-align: center;    
}
#projets-nsi > div {
    flex: 1 1 0;
    margin-left: 1%;
    border-radius: 10%;
    border: 5px solid #1A1B1C;
}
#projets-nsi > div:last-child {
    margin-left: none;
}
#projets-nsi > div > img {
    border-radius: 20%;
}
#projets-nsi a > img {
    margin-top: 3px;    
    width: 15px;
}
#projets-nsi a {
    margin-bottom: 5px;
    display: block;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    border: #1A1B1C solid 1px;
    color : #e4dfdf;
    text-decoration: none;
    padding-left :none;
    padding: 5px;
    border-radius: 20px;
    background-color: #1A1B1C;
    transition: all 1s ease;
    transform:scale(0.8);
}
#projets-nsi a:hover {
    transform:scale(0.9);
    transition: all 1s ease;
}